.profile {
  .user-thumbnail {
    width: 125px;
    height: 125px;
    border: 8px solid $orange;
    @include border-radius(75px);
    margin-bottom: 1rem;
  }
  .profile-meta {
    margin-left: 1rem;
    .username {
      font-size: 120%;
    }
    .website {
      color: $blue;
      line-height: 1rem;
    }
  }
}